.plant-card {
    border: 1px solid #ccc;
    padding: 1px;
    margin: 16px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 16px;
}

.plant-name {
    font-size: 24px;
    font-weight: bold;
}

.plant-category, .plant-price, .plant-description {
    margin: 8px 0;
}
